Repository fschucht/structize-code-test: changes, and which lefthook commands are due for each by the changed paths.
All: check-types, lint

check-types:
  run: pnpm check-types

lint:
  run: 'pnpm lint -- --fix
  
    '
  stage_fixed: true

Implement page contents
  apps/web/src/app/page.tsx
  apps/web/src/components/computation.tsx
  packages/ui/src/components/progress.tsx
Due: check-types, lint

Setup trpc api
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/api/[trpc]/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/trpc/client.tsx
  apps/web/src/trpc/queryClient.ts
  apps/web/src/trpc/router.ts
  packages/ui/src/components/input.tsx
  packages/ui/src/lib/utils.ts
  pnpm-lock.yaml
Due: check-types, lint

Store created computation in mongo
  .gitignore
  apps/web/package.json
  apps/web/src/trpc/router.ts
  docker-compose.yml
  packages/computations/eslint.config.mjs
  packages/computations/package.json
  packages/computations/src/schemas/computation.ts
  packages/computations/src/services/computations.ts
  packages/computations/tsconfig.json
  packages/mongo/eslint.config.mjs
  packages/mongo/package.json
  packages/mongo/src/connection.ts
  packages/mongo/tsconfig.json
  pnpm-lock.yaml
Due: check-types, lint

Add timestamps to computation documents
  packages/computations/src/schemas/computation.ts
Due: check-types, lint

Cleanup unused package.json scripts
  packages/computations/package.json
  packages/mongo/package.json
  packages/ui/package.json
Due: lint

Rename computations to calculations
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/calculation.tsx
  apps/web/src/trpc/router.ts
  packages/calculations/eslint.config.mjs
  packages/calculations/package.json
  packages/calculations/src/schemas/calculation.ts
  packages/calculations/src/services/calculations.ts
  packages/calculations/tsconfig.json
  packages/computations/src/services/computations.ts
  pnpm-lock.yaml
Due: check-types, lint

Compute calculation using worker
  apps/web/src/trpc/client.tsx
  apps/worker/eslint.config.js
  apps/worker/main.ts
  apps/worker/package.json
  apps/worker/tsconfig.json
  docker-compose.yml
  packages/calculations/package.json
  packages/calculations/src/constants.ts
  packages/calculations/src/jobs/computeCalculationJob.ts
  packages/calculations/src/queues/calculations.ts
  packages/calculations/src/schemas/calculation.ts
  packages/calculations/src/services/calculations.ts
  packages/mongo/src/connection.ts
  packages/redis/eslint.config.mjs
  packages/redis/package.json
  packages/redis/src/connection.ts
  packages/redis/tsconfig.json
  pnpm-lock.yaml
Due: check-types, lint

Fix esm errors
  apps/web/src/app/page.tsx
  apps/web/src/trpc/client.tsx
  apps/worker/main.ts
  package.json
  packages/calculations/package.json
  packages/calculations/src/queues/calculations.ts
  packages/calculations/src/schemas/calculation.ts
  packages/calculations/src/services/calculations.ts
  packages/mongo/src/config.ts
  packages/mongo/src/connection.ts
  packages/redis/src/config.ts
  packages/redis/src/connection.ts
  packages/typescript-config/base.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: check-types, lint

Fix lint script
  apps/worker/package.json
Due: lint

Fix job type
  apps/worker/main.ts
  packages/calculations/src/jobs/computeCalculationJob.ts
Due: check-types, lint

Execute all operations on button click
  apps/web/src/app/page.tsx
Due: check-types, lint

Fix mongoose document type inconsistencies
  packages/calculations/package.json
  packages/calculations/src/models/calculation.ts
  packages/calculations/src/schemas/calculation.ts
  packages/calculations/src/services/calculations.ts
  packages/mongo/package.json
  packages/mongo/src/document.ts
  pnpm-lock.yaml
Due: check-types, lint

Remove unused import
  packages/calculations/src/jobs/computeCalculationJob.ts
Due: check-types, lint

Use subscription only for calculation creation
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/trpc/client.tsx
  apps/web/src/trpc/router.ts
  apps/worker/main.ts
  packages/calculations/src/jobs/computeCalculationJob.ts
  packages/calculations/src/queues/calculations.ts
Due: check-types, lint

Add timeout to calculation computation
  packages/calculations/src/services/calculations.ts
Due: check-types, lint

Fix subscription connection error
  apps/web/src/trpc/router.ts
Due: check-types, lint

Simplify code
  apps/web/src/app/page.tsx
  apps/web/src/components/calculation.tsx
  packages/calculations/src/schemas/calculation.ts
  packages/calculations/src/services/calculations.ts
Due: check-types, lint

Fix eslint for worker app
  apps/worker/eslint.config.js
  apps/worker/main.ts
  apps/worker/tsconfig.json
Due: check-types, lint

Add logging to worker
  apps/worker/main.ts
  packages/logger/eslint.config.mjs
  packages/logger/package.json
  packages/logger/src/logger.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
Due: check-types, lint

Fix mongoose overwrite model error
  packages/calculations/src/models/calculation.ts
  packages/mongo/src/connection.ts
Due: check-types, lint

Split document tupes from models
  apps/web/src/app/page.tsx
  apps/web/src/components/calculation.tsx
  packages/calculations/package.json
  packages/calculations/src/documents/calculation.ts
  packages/calculations/src/models/calculation.ts
  packages/calculations/src/schemas/calculation.ts
  packages/calculations/src/services/calculations.ts
Due: check-types, lint

Add linting for imports
  .prettier.js
  apps/web/eslint.config.js
  apps/web/src/app/api/[trpc]/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/calculation.tsx
  apps/web/src/trpc/client.tsx
  apps/web/src/trpc/router.ts
  apps/web/tailwind.config.ts
  apps/worker/eslint.config.js
  apps/worker/main.ts
  packages/calculations/eslint.config.mjs
  packages/calculations/package.json
  packages/calculations/src/documents/calculation.ts
  packages/calculations/src/models/calculation.ts
  packages/calculations/src/queues/calculations.ts
  packages/calculations/src/services/calculations.ts
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/eslint-config/reactInternal.js
  packages/logger/eslint.config.mjs
  packages/mongo/eslint.config.mjs
  packages/mongo/package.json
  packages/redis/eslint.config.mjs
  packages/redis/package.json
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/progress.tsx
  pnpm-lock.yaml
Due: check-types, lint

Fix pre-commit hook
  lefthook.yml
  package.json
Due: lint

Run apps in docker
  .dockerignore
  Dockerfile
  apps/web/.env.example
  apps/web/.gitignore
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/worker/.env.example
  apps/worker/package.json
  docker-compose.yml
  package.json
  packages/redis/src/connection.ts
  turbo.json
Due: check-types, lint

Disable input fields while computing calculation
  apps/web/src/app/page.tsx
Due: check-types, lint

Clean code
  apps/web/src/components/calculation.tsx
Due: check-types, lint

Add readme
  README.md
Due: none

Add video to readme
  README.md
Due: none

Update readme
  README.md
Due: none

Update readme
  Dockerfile
  README.md
  apps/web/.env.docker.example
  apps/web/.env.local.example
  apps/web/.gitignore
  apps/worker/.env.docker.example
  apps/worker/.env.local.example
  apps/worker/main.ts
Due: check-types, lint

Path conditions:
  check-types: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
